.BookForm {
  text-align: left;
}

.BookForm .formBlock{
  margin: 0.6rem 0;
}

.BookForm .formBlock label, input{
  display: block;
  margin: 0.3rem 0;
}

.BookForm .formBlock input{
  border-radius: 0.3rem;
  border-width: 1px;
  padding: 0.3rem;
  width: 100%;
  box-sizing: border-box;
}
